<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<div class="container max600" layout:fragment="content">
  <div class="py-5 text-center">
    <h2>회원 수정</h2>
  </div>
  <h4 class="mb-3">회원 정보 수정</h4>
  <form th:action th:Object="${memberForm}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="mb-3">
      <label th:for="loginId" class="form-label">로그인 ID</label>
      <input type="text" class="form-control" placeholder="아이디를 입력하세요." th:field="*{loginId}" th:errorClass="field-error">
      <div th:errors="*{loginId}" class="field-error"></div>
    </div>
    <div class="mb-3">
      <label th:for="password" class="form-label">비밀번호</label>
      <input type="password" class="form-control" th:placeholder="'힌트 : 비밀번호는 '+ *{password} + '입니다.'" th:field="*{password}" th:errorClass="field-error">
      <div th:errors="*{password}" class="field-error"></div>
    </div>
    <div class="mb-3">
      <label th:for="name" class="form-label">이름</label>
      <input type="text" class="form-control" placeholder="이름을 입력하세요." th:field="*{name}" th:errorClass="field-error">
      <div th:errors="*{name}" class="field-error"></div>
    </div>
    <div class="mb-3">
      <label th:for="grade" class="form-label">등급</label>
      <input type="text" class="form-control" placeholder="등급을 입력하세요." th:field="*{grade}">
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-6">
        <button type="submit" class="w-100 btn btn-primary btn-lg">회원 수정</button>
      </div>
      <div class="col-6">
        <button th:onclick="|location.href='@{/}'|" type="button" class="w-100 btn btn-outline-secondary btn-lg">취소</button>
      </div>
    </div>
  </form>
</div>
</html>