.max600 {
    max-width: 600px;
}

.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

/*네비게이션*/
body {
    padding-top: 60px;
}

/* style.css */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 높이 전체 채우기 */
}

main {
    flex: 1; /* footer를 아래로 밀어냄 */
}

/*페이지*/
.pagination .page-link {
    color: black;
}

.pagination .active .page-link {
    background-color: #343a40;
    border-color: #343a40;
    color: #f8f9fa;
}

.pagination .active .page-link:hover {
    background-color: #343a40;
    border-color: #343a40;
    color: #f8f9fa;
}

#decoration {
    color: #333;           /* 검은색 글씨 */
    text-decoration: none;  /* 밑줄 제거 */
}

/* 마우스 올렸을 때도 밑줄 없이 색만 살짝 변경 */
#decoration:hover {
    color: #777;            /* 회색으로 변경 */
    text-decoration: none;
}